#statuspb {
  /*width: 200px;*/
  height: 200px;
	vertical-align: middle;
	text-align: center;
	position: fixed;
	z-index: 222;
	width:100%;
	top: 40%;
	/*height: 100%;*/
}
.avatarspec {
	vertical-align: middle;
	text-align: center;
	position: fixed;
	z-index: 222;
	outline: 0 !important;
	background-size: cover;
	cursor: pointer;
	background-position:  0px 0px;
	outline: 0;border: 0px;
	font-size: 250%;
	font-style: normal;
	color: rgba(0,0,0,0.4);
	text-shadow: 0 1px 0 #bcb8ae, 0 -1px 0 #97958e;
	font-family: Helvetica, Arial, sans-serif;
	display: inline-block;
	opacity: 0.6;}
.image {
	width: 427px; /*width: 333px;*/
	height: 240px;/*height: 250px;*/
	border-radius: 40px;}
.time {
	background: linear-gradient(#7B68EE, #ababab);
	border-radius: 20px;}
.add {
	text-align: center;
	margin-left: 12%;
	margin-top: -22%;
    font-size: 400%;
	font-style: normal;
	color: rgba(0,0,0,0.4);
	text-shadow: 0 1px 0 #bcb8ae, 0 -1px 0 #97958e;
	font-family: Helvetica, Arial, sans-serif;
	display: inline-block;
	opacity: 0.6;}
.add:hover {
	opacity: 1;}
.aaaa:before,.aaa:after {
    display: inline-block;
    font-style: normal;}
.aaaa:before  {
    content: "+";    }
.aaa:before,.aaa:after {
    display: inline-block;
    font-style: normal;}
.aaa:before  {
    content: "◄";}
.aaa2:before,.aaa:after {
    display: inline-block;
    font-style: normal;}
.aaa2:before  {
    content: "dl";}
.avatar4:hover {
	opacity: 1;	}
.href {
	font-size: 300%;
	display: inline-block;}
.href:hover {
	background-color:#7B68EE;}
.avatarspec {
	vertical-align: middle;
	text-align: center;
	position: fixed;
	z-index: 222;
	outline: 0 !important;
	background-size: cover;
	cursor: pointer;
	background-position:  0px 0px;
	outline: 0;border: 0px;
	font-size: 250%;
	font-style: normal;
	color: rgba(0,0,0,0.4);
	text-shadow: 0 1px 0 #bcb8ae, 0 -1px 0 #97958e;
	font-family: Helvetica, Arial, sans-serif;
	display: inline-block;
	opacity: 0.6;}
.avatarspec1 {
	z-index: 223;
	outline: 0 !important;}
.avatar {
	width: 150px;
	height: 150px;
	border-radius: 50%;}
.avatar20 {
	z-index: 200;
	outline: 0 !important;
	opacity: 0.6;}
.avatar200 {
	top: 500px;
	opacity: 0.6;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	font-size: 900%;
	cursor: pointer;
	background-size: cover;
	background-color:#7B68EE;
	background-position:  0px 0px;
	outline: 0;
	border: 1px;
	border-style: dotted;
	position: absolute;}
.avatar2 {
	text-align: center;
	position: fixed;
    right: 1%;
    top: 5px;
	z-index: 200;
	opacity: 0.6;}
.avatar2:hover {
	opacity: 1;}
.avatar20:hover {
	opacity: 1;}
.avatar333 {
	font-size: 150%;
	outline: 0 !important;
	font-style: normal;
	color: rgba(0,0,0,0.4);
	text-shadow: 0 1px 0 #bcb8ae, 0 -1px 0 #97958e;
	font-family: Helvetica, Arial, sans-serif;
	z-index: 201;}
.avatar33 {
	outline: 0 !important;
	font-size: 600%;
	font-style: normal;
	color: rgba(0,0,0,0.4);
	text-shadow: 0 1px 0 #bcb8ae, 0 -1px 0 #97958e;
	font-family: Helvetica, Arial, sans-serif;
	z-index: 199;}
.avatar3 {
	vertical-align: middle;
	border-radius: 50%;
	text-align: center;
	position: fixed;
	right: 2%;
	top: 35px;
	padding: 10px;
	z-index: 200;	
	text-transform: uppercase;
	font-style: normal;
	font-weight: bold;
	color: rgba(0,0,0,0.4);
	text-shadow: 0 1px 0 #bcb8ae, 0 -1px 0 #97958e;
	/*font-family: Helvetica, Arial, sans-serif;*/
	font-size: 300%;
	/*top: 0%; 
	right: 0%; 
	bottom: 0; 
	left: 0;*/
	opacity: 0.9;}
.avatar4 {
	vertical-align: middle;
	border-radius: 50%;
	text-align: center;
	position: fixed;
	right: 1%;
	top: 495px;
	padding: 10px;
	z-index: 200;
	width:150px;
	height:150px;
	border-radius:50%;
	background-color:#7B68EE;
	text-transform: uppercase;
	font-style: normal;
	font-weight: bold;
	color: rgba(0,0,0,0.4);
	/*text-shadow: 0 1px 0 #bcb8ae, 0 -1px 0 #97958e;*/
	font-family: Helvetica, Arial, sans-serif;
	font-size: 660%;
	opacity: 0.9;}
.avatar5 {
	text-align: center;
	position: fixed;
    right: 1%;
	top: 330px;
    /*padding: 10px;*/
	z-index: 200;
	opacity: 0.6;}
.avatar5:hover {
	opacity: 1;}
.avatar6 {
	text-align: center;
	position: fixed;
    right: 1%;
	top: 165px;
    /*padding: 10px;*/
	z-index: 201;
	opacity: 0.6;}
.avatar6:hover {
	opacity: 1;}
.avatar44 {
	border-radius: 50%;
	/*z-index: 200;*/
	width:150px;
	height:150px;
	border-radius:50%;
	background-color:#7B68EE;
	text-transform: uppercase;
	font-style: normal;
	font-weight: bold;
	color: rgba(0,0,0,0.4);
	/*text-shadow: 0 1px 0 #bcb8ae, 0 -1px 0 #97958e;*/
	font-family: Helvetica, Arial, sans-serif;
	font-size: 660%;
	opacity: 0.9;}
.el {
	font-family: 'Arial'; 
	font-size: 500%;
	width:100%; 
	display: block;
	text-align: center;}
.spis {
	font-family: 'Arial'; 
	font-size: 180%;
	/*top: -100px;*/
	position: relative;
	font-weight: bold;
	text-align: center;
	margin: 30px auto;
	/*white-space: nowrap;*/
	/*width:100%; */
	/*display: block;*/
	/*text-align: center;*/}  
.chlabel {
	text-align: center;
	width:100%;
	font-size: 250%;}
button {
	font-family: 'Arial';
	width:100%;
	font-size: 300%;
	text-align: center;
	border-radius: 40px;
	background: #ababab;
	background: -moz-linear-gradient(#f2f2f2, #ababab);
	background: -ms-linear-gradient(#f2f2f2, #ababab);
	background: -o-linear-gradient(#f2f2f2, #ababab);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#ababab));
	background: -webkit-linear-gradient(#f2f2f2, #ababab);
	background: linear-gradient(#f2f2f2, #ababab);
	box-shadow: 0 0 10px rgba(0,0,0,0.3),
	0 1px 1px rgba(0,0,0,0.25);} 
select {
	font-size: 500%;
	width:100%;
	direction: rtl;
	border-radius: 40px;}
*,*:after,*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;}
.switch {
	margin: 30px auto;
	position: relative;}
.switch label {
	width: 100%;
	height: 100%;
	position: relative;
	display: block;}
.switch input {
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0;
	opacity: 0;
	z-index: 100;
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;}
.switch.chboxydl {
	width: 98%;
	text-align: center;
	height: 240px;
	/*width: 400px;
	height: 180px;*/
	/* width: 180px;
	height: 50px;*/}
.switch.chboxydl label {
	display: block;
	/*text-align: left;*/
	width: 100%;
	height: 100%;
	background: #FF3333;
	border-radius: 40px;
	box-shadow:
	inset 0 3px 8px 1px rgba(0,0,0,0.2),
	0 1px 0 rgba(255,255,255,0.5);}
.switch.chboxydl label:after {
	content: "";
	position: absolute;
	z-index: -1;
	top: -8px; right: -8px; bottom: -8px; left: -8px;
	border-radius: inherit;
	background: #ababab;
	background: -moz-linear-gradient(#f2f2f2, #ababab);
	background: -ms-linear-gradient(#f2f2f2, #ababab);
	background: -o-linear-gradient(#f2f2f2, #ababab);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#ababab));
	background: -webkit-linear-gradient(#f2f2f2, #ababab);
	background: linear-gradient(#f2f2f2, #ababab);
	box-shadow: 0 0 10px rgba(0,0,0,0.3),
	0 1px 1px rgba(0,0,0,0.25);}
.switch.chboxydl label:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: -18px; right: -18px; bottom: -18px; left: -18px;
	border-radius: inherit;
	background: #eee;
	background: -moz-linear-gradient(#e5e7e6, #eee);
	background: -ms-linear-gradient(#e5e7e6, #eee);
	background: -o-linear-gradient(#e5e7e6, #eee);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#e5e7e6), to(#eee));
	background: -webkit-linear-gradient(#e5e7e6, #eee);
	background: linear-gradient(#e5e7e6, #eee);
	box-shadow:
		0 1px 0 rgba(255,255,255,0.5);
		-webkit-filter: blur(1px);
		-moz-filter: blur(1px);
		-ms-filter: blur(1px);
		-o-filter: blur(1px);
		filter: blur(1px);}
.switch.chboxydl label i {
	display: block;
	height: 100%;
	width: 50%;
	border-radius: inherit;
	background: silver;
	position: absolute;
	z-index: 2;
	right: 50%;
	top: 0;
	background: #b2ac9e;
	background: -moz-linear-gradient(#f7f2f6, #b2ac9e);
	background: -ms-linear-gradient(#f7f2f6, #b2ac9e);
	background: -o-linear-gradient(#f7f2f6, #b2ac9e);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f2f6), to(#b2ac9e));
	background: -webkit-linear-gradient(#f7f2f6, #b2ac9e);
	background: linear-gradient(#f7f2f6, #b2ac9e);
	box-shadow:
	    inset 0 1px 0 white,
	    0 0 8px rgba(0,0,0,0.3),
	    0 5px 5px rgba(0,0,0,0.2);}
.switch.chboxydl label i:after {
	/*  content: "null size";
	font-size: 120%;
	font-weight: bold;
	text-align: center;*/
	content: ""
	position: absolute;
	left: 15%;
	top: 25%;
	width: 70%;
	height: 50%;
	background: #d2cbc3;
	background: -moz-linear-gradient(#cbc7bc, #d2cbc3);
	background: -ms-linear-gradient(#cbc7bc, #d2cbc3);
	background: -o-linear-gradient(#cbc7bc, #d2cbc3);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#cbc7bc), to(#d2cbc3));
	background: -webkit-linear-gradient(#cbc7bc, #d2cbc3);
	background: linear-gradient(#cbc7bc, #d2cbc3);
	border-radius: inherit;}
.switch.chboxydl label i:before {
	/*content: "OFF";*/
	text-transform: uppercase;
	font-style: normal;
	font-weight: bold;
	color: rgba(0,0,0,0.4);
	text-shadow: 0 1px 0 #bcb8ae, 0 -1px 0 #97958e;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 30px;
	position: absolute;
	top: 50%;
	margin-top: -12px;
	right: -40%;}
.switch.chboxydl input:checked ~ label {
	background: #9abb82;}
.switch.chboxydl input:checked ~ label i {
	right: -1%;}
.switch.chboxydl input:checked ~ label i:before {
	right: 130%;
	color: #82a06a;
	text-shadow: 
	  0 1px 0 #afcb9b,
	  0 -1px 0 #6b8659;}
.switch.chboxydl label .spis {
	position: relative;
	padding-left: 50%;
	padding-right: 3%;}
.switch.chboxydl input:checked ~ label .spis {
	position: relative;
	padding-right: 50%;
	padding-left: 3%;}