<form action="/download" method="post">
<!--<div class="avatar3">+</div>-->
<div id="dl1" class="avatar2"><input id="plus" type="button" onclick="dl_video('plus')" name="plus" class="avatar33" value="+" style="background-size: cover;background-image: url({{ .IcoGeneral }});width:150px;height:150px;border-radius:50%;cursor: pointer;background-position:  0px 0px;outline: 0;border: 0px;" /></div>
<div class="avatar6"><input id="plus1080" type="button" onclick="dl_video('plus1080')" name="plus1080" class="avatar33" value="++" style="background-size: cover;background-image: url({{ .IcoGeneral }});width:150px;height:150px;border-radius:50%;cursor: pointer;background-position:  0px 0px;outline: 0;border: 0px;" /></div>
<div class="avatar4"><a class="aaa" onclick="retback()" style="width:150px;height:150px;border-radius:50%;cursor: pointer;"/></a></div>
<!--<div class="avatar5"><input id="dlist" type="button" onclick="dl_video('dlist')" name="dlist" class="avatar33" value="links" style="top: 410px;background-size: cover;background-image: url({{ .IcoGeneral }});width:150px;height:150px;border-radius:50%;cursor: pointer;background-position:  0px 0px;outline: 0;border: 0px;" /></div>-->
<br><br>
<div id=vlist>
{{"\n"}}
{{range .Item}}
{{"\n"}}
<div class="switch chboxydl"><input type="checkbox" name="{{ .Name }}" value="{{ .Value }}" {{ .Checked }}><label><div class="spis"><div class="time">{{ .Time }}</div><br>{{ .Title }} (<span id="dl_{{ .Name }}" name="dl_{{ .Name }}"></span>)</div><i><img class="image" src="{{ .UrlImg }}"></i></label></div>
<button onclick="video_load_list('{{ .Name }}');" style="cursor: pointer;" type="button">Запросить</button>

{{end}}
<button name="more" id="more" onclick="video_list_more();" style="cursor: pointer;" type="button">MORE</button>
</div>
