<br><br><br>
{{range .Item}}
{{"\n"}}
<div id="idd" onmouseover="onmo('sub_{{ .Id }}');" onmouseout="onml('sub_{{ .Id }}');" class="avatar20" style="left:{{ .Pos }}px"><input id="{{ .Id }}" type="button" name="fileini" class="avatar333" value="{{ .Value }}" style="float:left;background-size: cover;background-image: url({{ .Ico }});width:150px;height:150px;border-radius:50%;cursor: pointer;background-position:  0px 0px;outline: 0;border: 1px;border-style: dotted;" /><div id="sub_{{ .Id }}" hidden="true">{{ .Value }} [{{ .Subs }}]</div></div>
{{end}}
<a id="add_channel_but" style="float:left;width:150px;height:150px;border-radius:50%;cursor:pointer;font-size: 300%;background-size: cover;background-color:#7B68EE;"/>
<div onclick="myFunction()" class="add">+</div>
</a>
</div>
<br><br><br>
<form action="/add_ch" method="post">
<div id="add_ch"></div>
<div id="add_ch_but" class="avatar20"></div>
</form>
<form action="/edit_ch" method="post">
<div id="edit_ch1"></div>
<div id="edit_ch2" hidden="true"></div>
<div id="edit_ch_but" class="avatar20"></div>
<br><br><br>
</form>