<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Youtube Download</title>
<link href="/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
<link rel="stylesheet" href="/css/style.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.3.0/prototype.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/scriptaculous/1.9.0/scriptaculous.js"></script>
<script src="/js/script.js"></script>
<script src="/js/progressbar.js"></script>
</head>
<body onload="loadPage()">
<div id="status" class="avatarspec"></div><br>
<div id="statuspb" ></div><br>
<div id="ch_list" class="avatarspec1"></div><br>
<div id="video_list" class="avatarspec1"></div><br>
<div id="function"></div><br>
<div id="hidden" hidden="true">
<input type="text" id="morevalch" name="morevalch" value="">
<input type="text" id="moreval" name="moreval" value="2">
</div>
</body>
</html>